<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="Email" formControlName="email"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Please enter your email</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" formControlName="password"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter your password</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!loginForm.valid" mat-flat-button color="primary">Login</button>
      </div>
      <div class="button-row">
        <button type="button" mat-flat-button color="primary" (click)="register()">Register</button>
      </div>
    </form>
  </mat-card>
</div>
<div>
  <mat-card class = "tp-card">
    <mat-card-header>
       <div mat-card-avatar class = "tp-header-image"></div>
       <mat-card-title>Umpiring Disclaimer</mat-card-title>
       <mat-card-subtitle>Rental Umpire Assignee .Terms and Conditions ("Terms")</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <b>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the Rental umpire website.</b>
      <p>
          <i>Last updated: (11/15/2019).</i>



        Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all Umpires who wish to be assigned for umpiring services.

        By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.

        Requests:

        Each umpire requesting the umpiring should not request the umpiring on behalf of another umpire. Requests are to be made for self and self only. No substitute umpire is to be sent. Any emergency an umpire should notify by sending email to DCLumpires@gmail.com and DCLMGMT@gmail.com about unable to perform the duties along with the proof.

        Timing/Punctuality:

        Umpires assigned to the game must be present at the game 15 minutes before the start of the game. Any umpire reaching the ground after the toss is done, can be requested to leave the ground and not perform duties. Umpires will be treated and missed and penalty of $50 for T20 and $65 will be applied to the umpire. NO EXCUSES will be accepted.

        Umpires should make sure the game starts on time and ends on time, if the game is starting late, Umpires should reduce the overs.

        If prior game is not complete, Umpire should talk to the umpire of prior game and stop the game immediately and start their assigned game as soon as possible.

        Rules and Regulations:

        Each umpire should be well versed with the Rules and Regulations of DCL. There should be no ambiguity or understanding of rules.

        Clothing/Uniform:

        Each certified umpire should wear DCL provided umpiring T-shirt.
        No Rental Umpire should go to ground on shorts, or flip flops or Sandals. Should always wear full pants (No Jeans) and shoes.
      </p>
<p>
        <i>Last updated: (11/15/2019).</i>

        Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all Umpires who wish to be assigned for umpiring services.

        By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms, then you may not access the Service.

        Requests:

        Each team requesting the rental umpiring should request umpiring before 9:00 AM Thursday.

        Responsibility:

        Requesting an umpire does not guarantee an umpire will be assigned. Team’s responsibility is not over once request is submitted.
        It is team’s responsibility to check if umpire is assigned by visiting the website frequently. DCL will not send any communication to teams if umpiring is not found. If the umpiring request column doesn’t have umpire name it is implied that no umpire is found, and it is teams’ responsibility to arrange an umpire of their own.

        For leather Ball game if team sends non-certified umpire it will be considered missed umpiring.

        Refunds:

        Refunds will be processed following Thursday after confirming that team has not missed umpiring.

        If above terms and conditions are acceptable, teams can proceed with requesting umpiring. There should be no excuse email sent by teams with any misunderstanding.
       </p>
    </mat-card-content>
    <mat-card-actions>
       <button mat-button>Agree</button>
       <button mat-button>Dis-Agree</button>
    </mat-card-actions>
 </mat-card>
</div>
