<div class="example-container mat-elevation-z8">
  <div class="mat-elevation-z8">

      <p-table [value]="data">
          <p-column field="matchDate" header="MatchDate"></p-column>
          <p-column field="matchName" header="MatchName"></p-column>
          <p-column field="groundName" header="GroundName"></p-column>
          <p-column field="groundAddress" header="GroundAddress"></p-column>
          <p-column field="groupName" header="GroupName"></p-column>
          <p-column field="startTime" header="StartTime"></p-column>
          <p-column field="team1" header="Team1"></p-column>
          <p-column field="team1" header="Team1"></p-column>
        </p-table>

  </div>
</div>
